html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar{
  display: none;
}

#root{
  height: 100%;
}

.container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Lato';
  transition: 0.25s;
}

@media screen and (max-width: 1100px) {
  .container{
    width: 90%;
  }  
}